# Ignore job outputs and music library
/web_output/
/venv/
/MusicLibrary/
*.pyc
__pycache__/
error.log
*.zip
.DS_Store.venv/
venv/
build/
dist/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
*.zip
web_output/
*.log
archive.txt
error.txt
env/
.idea/
.vscode/
*.egg
*.tar.gz
